{% extends "Analyzer/base.html" %}
{% block content %}
    {% load tags %}
    <div class="ui centered grid">
        <div class="eight wide column">
            <div class="ui top attached tabular menu">
                <a class="item" data-tab="first">Role</a>
                <a class="item" data-tab="second">Skill</a>
            </div>
        </div>
    </div>
    <div class="ui centered gird">
        <div class="ui bottom attached tab active" data-tab="first">
            <div class="ui four column grid container">
                <div class="column"><a href="Backend/" class="massive ui button">Backend</a></div>
                <div class="column"><a href="Frontend/" class="massive ui button">Frontend</a></div>
                <div class="column"><a href="Fullstack/" class="massive ui button">Fullstack</a></div>
                <div class="column"><a href="Android/" class="massive ui button">Android</a></div>
            </div>
            <div class="ui four column grid container">
                <div class="column"><a href="Iphone/" class="massive ui button">Iphone</a></div>
                <div class="column"><a href="Machinelearning/" class="massive ui button">Machine learning</a></div>
                <div class="column"><a href="AI/" class="massive ui button">AI</a></div>
                <div class="column"><a href="DataEngineer/" class="massive ui button">Data Engineer</a></div>
            </div>
            <div class="ui four column grid container">
                <div class="column"><a href="Network/" class="massive ui button">Network</a></div>
                <div class="column"><a href="System/" class="massive ui button">System</a></div>
                <div class="column"><a href="Security/" class="massive ui button">Security</a></div>
                <div class="column"><a href="QA/" class="massive ui button">QA</a></div>
            </div>
            <div class="ui four column grid container">
                <div class="column"><a href="IoT/" class="massive ui button">IoT</a></div>
                <div class="column"><a href="Application/" class="massive ui button">Application</a></div>
                <div class="column"><a href="Blockchain/" class="massive ui button">Blockchain</a></div>
            </div>
        </div>
        <div class="ui bottom attached tab" data-tab="second">
            <div class="ui four column grid container">
                <div class="column"><a href="Django/" class="massive ui button">Django</a></div>
                <div class="column"><a href="Spring/" class="massive ui button">Spring</a></div>
                <div class="column"><a href="Go/" class="massive ui button">Go</a></div>
                <div class="column"><a href="Android/" class="massive ui button">Android</a></div>
            </div>
            <div class="ui four column grid container">
                <div class="column"><a href="Swift/" class="massive ui button">Swift</a></div>
                <div class="column"><a href="React/" class="massive ui button">React</a></div>
                <div class="column"><a href="Vue/" class="massive ui button">Vue</a></div>
                <div class="column"><a href="Angular/" class="massive ui button">Angular</a></div>
            </div>
            <div class="ui four column grid container">
                <div class="column"><a href="Flask/" class="massive ui button">Flask</a></div>
                <div class="column"><a href="Ruby/" class="massive ui button">Ruby</a></div>
                <div class="column"><a href="Node.js/" class="massive ui button">Node.js</a></div>
                <div class="column"><a href=".NET/" class="massive ui button">.NET</a></div>
            </div>
            <div class="ui four column grid container">
                <div class="column"><a href="TensorFlow/" class="massive ui button">TensorFlow</a></div>
                <div class="column"><a href="Hadoop/" class="massive ui button">Hadoop</a></div>
                <div class="column"><a href="SQL/" class="massive ui button">SQL</a></div>
                <div class="column"><a href="NoSQL/" class="massive ui button">NoSQL</a></div>
            </div>
            <div class="ui four column grid container">
                <div class="column"><a href="AWS/" class="massive ui button">AWS</a></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('.menu .item')
            .tab();
    </script>
{% endblock %}
{% block css %}
    <style>
        div .column {
            height: 200px;
            text-align: center;
        }

        div.eight.wide.column {
            margin: auto auto auto auto;
            height: 50px;
        }

        div .ui.four.column.grid.container {
            margin: auto auto auto auto;
        }

        div.ui.centered.gird {
            margin-top: 5rem;
            margin-left: auto;
            margin-right: auto;
        }

        a.massive.ui.button {
            text-align: center;
            padding-top: 3em;
            display: inline-block;
            text-decoration: none !important;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            background-color: #65737E;
        }

        a.item {
            width: 50%;
            text-align: center;
            display: inline-block;
            font-size: large;
            color: #4f5b66;
        }
    </style>
{% endblock %}